<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            <h1 class="py-4 font-bold text-white">Username</h1>
            <input type="text" name="u_hapus">
        </div>
        <div>
            <h1 class="py-4 font-bold text-white">Password</h1>
            <input type="text" name="p_hapus">
        </div>
        <button type="submit">Hapus</button>
    </form>
</body>
</html>